---
import PageLayout from "../layouts/PageLayout.astro";
import UserDashboard from "../components/UserDashboard.vue";

const user = Astro.locals.user;
---

<PageLayout title="Astro">
  {user ? <UserDashboard {user} client:load /> : <a href="/login">Login</a>}
</PageLayout>
